# Supabase
SUPABASE_URL=https://nqdwmubpnaeukkocrnrs.supabase.co
SUPABASE_SERVICE_ROLE_KEY=          # Project Settings > API > service_role key

# Trustless Work
TRUSTLESS_WORK_API_KEY=tFh9vaxyj83LwXN8YEOFKg.efadecc407716b63aab30412877687ec79351b7aec6e8eb8b327f8879d0cb371
TRUSTLESS_WORK_PLATFORM_ADDRESS=

# Server
PORT=3001
WEB_URL=http://localhost:3000
